*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
}
.container{
width: 50%;
margin: 100px auto;
}
.container h1{
    width: fit-content;
    margin: 10px auto;
    text-transform: uppercase;
    /* border: 1px solid red; */
    padding: 5px;
    color: white;
    font-weight: normal;
}
@media(max-width:567px){
    .container h1{
        text-transform: capitalize;
        font-size: 17px;
        letter-spacing: 2px;
        
    }
}
@media(max-width:767px){
    h1{
        font-size: 20px;
    }
}

@media(max-width:567px){
    .container{
        width: 70%;
    }
}

.game{
   display: flex;
   flex-wrap: wrap;
   gap: 5px;
}
.queres{
    width: 30%;
    height: 100px;
    background-color: tomato;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    cursor: pointer;
    user-select: none;
    transition: .3s ease-in-out;
}
.queres:hover{
    background-color: rgb(47, 8, 83);
}
@media(max-width:567px){
    .queres{
    font-size: 30px;
    }
}

